<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<br/><br/>
<p style="text-align: center"
   th:text=" 'Tasks count:' + ${tasks?.size()} "
></p>
</body>
</html>
